{% set pam = salt['grains.filter_by']({
    'Ubuntu': {
        'ldap': 'ldap-auth-client',
        'nsd': 'nscd',
        'ldap-config': '/etc/ldap.conf',
    },
    'Debian': {
        'ldap': 'libpam-ldap',
        'ldap-config': '/etc/ldap.conf',
    },
}, merge=salt['pillar.get']('pam:lookup')) %}
